.season-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.winter {
  background: aliceblue;
}

.summer {
  background: orange;
}

.winter i {
  color: blue;
}

.summer i {
  color: red;
}
